src/*.exe
src/katmancoin
src/katmancoind
src/test_katmancoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.katmancoin

# Compilation and Qt preprocessor part
*.qm
Makefile
katmancoin-qt
Katmancoin-Qt.app

# Unit-tests
Makefile.test
katmancoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
